<header>
  <link rel="stylesheet" href="/css/homePage.css" type="text/css" />
  <video id="myVideo" autoplay muted loop playsinline>
    <source src="/assets/earth.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay"></div>
</header>
<script></script>
