<!DOCTYPE html>
<html>
  <head>
    <title>NASA</title>
    <link rel="icon" href="/assets/moon.png" type="image/png" />
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>
  <header><%- include('../partials/header') %></header>
  <body>
    <div class="banner">
      <div class="content">
        <div class="btn-group"></div>
      </div>
    </div>

    <!-- --About section start---->

    <!-----service section start----------->
    <!-- <section class="service-container"> -->
    <div class="service">
      <div class="title"></div>
    </div>
    <!-- </section> -->
  </body>
  <script></script>
</html>
