<!DOCTYPE html>
<html>
  <head>
    <title>NASA</title>
    <link rel="icon" href="/assets/moon.png" type="image/png" />
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>
  <header><%- include('../partials/header') %></header>
  <body>
    <div class="banner">
      <div class="content">
          <h3 class="titlen"> Result</h3>
      </div>
    </div>

    <!-- --About section start---->

    <!-----service section start----------->
    <!-- <section class="service-container"> -->
    <div class="service">
      <div>
        <h3>
        Challenge<br />
        <span>The art in our worlds</span>
      </h3>
      </div>

      <div>
        <h3>
        Description<br />
        <span>Create art with nasa's pictures </span>
      </h3>
      </div>
      <div>
        <h3>
        Team<br />
        <span>Max, Bar, Yuval, Lihi</span>
      </h3>
      </div>

      <div>
        <h3>
        ***<br />
        <span>Nasa's hackathon 2022</span>
        <br />***
      </h3>
      </div>

    </div>
    <!-- </section> -->
  </body>
  <script></script>
</html>
